/* CSS declarations go here */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "Proxima Nova", sans-serif;
}

.header-container {
	color: white;
	top: 40%;
  	left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
}

.index-container {
	background-image: url("img/splash.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 85vh;
	position: relative;
}

.header {
	font-size: 8em;
}

.tag-line {
	font-size: 1.5em;
}

.btn-wide {
	width: 100%;
}

.login-row {
	margin-top: 100px;
}

.login-main-image {
	// background-image: url("img/login-car.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}

.login-form-well {
	background-color: white;
	padding: 40px;
}

.login-form-title {
	padding-bottom: 15px;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-logo {
	height: 80px;	
	padding: 10px 0px 10px 0px;
}

.matches-contianer {
	padding-top: 30px;
}

