<template name="maps">
	<div class="maps-container">
		<div class="map-container">
		{{> googleMap name="exampleMap" options=exampleMapOptions}}
		</div>
		<div class="form-group">
		  <label for="start-location">Start Location</label>
		  <input type="text" class="form-control" id="start-location">
		</div>
		<div class="form-group">
		  <label for="end-location">End Location</label>
		  <input type="text" class="form-control" id="end-location">
		</div>
		<button class="confirm-button">CONFIRM</button>
	</div>
</template>